@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

* {
  font-family: "DM Sans", sans-serif !important;
  color: #4a4a4a;
}

.contain-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  min-height: 100vh;
}

footer {
  bottom: 0px;
  position: relative;
  width: 100%;
}

nav {
  background: #fff !important;
}

.btn {
  border-radius: 20px;
  border: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active {
  background-color: #e9e7fd;
  color: #5141ff;
}

.btn-primary:hover {
  background-color: #5141ff;
  color: #fff;
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: #fee4cb;
  color: #ff7b00;
}

.btn-secondary:hover {
  background-color: #ff7b00;
  color: #fff;
}

.btn-success,
.btn-success:focus,
.btn-success:active {
  background-color: #c8f7dc;
  color: #00a347;
}

.btn-success:hover {
  background-color: #00a347;
  color: #fff;
}

.btn-danger,
.btn-danger:focus,
.btn-danger:active {
  background-color: #ffd3e2;
  color: rgb(192, 1, 65);
}

.btn-danger:hover {
  background-color: rgb(192, 1, 65);
  color: #fff;
}

.accordion-item:last-of-type,
.accordion-item:first-of-type {
  border-radius: 20px;
  overflow: hidden;
}
